<!--
  @description       : 
  @author            : ChangeMeIn@UserSettingsUnder.SFDoc
  @group             : 
  @last modified on  : 11-25-2020
  @last modified by  : ChangeMeIn@UserSettingsUnder.SFDoc
  Modifications Log 
  Ver   Date         Author                               Modification
  1.0   11-24-2020   ChangeMeIn@UserSettingsUnder.SFDoc   Initial Version
-->

<template>
  <!-- <div class="slds-box slds-theme_default"> -->
    <article class="slds-card">
      <div class="slds-card__header slds-grid">
        <header class="slds-media slds-media_center slds-has-flexi-truncate">
          <div class="slds-media__figure">
            <lightning-icon icon-name="standard:account" alternative-text="Account" title="Account">Account</lightning-icon>
          </div>
          <div class="slds-media__body">
            <h2 class="slds-card__header-title">
              <a
                href="javascript:void(0);"
                class="slds-card__header-link slds-truncate"
                title="Accounts"
              >
                <span>Accounts</span>
              </a>
            </h2>
          </div>
        </header>
      </div>
      <!-- <div class="slds-card__body slds-card__body_inner">
        <template if:true={showcreateform}>
            <div class="slds-text-heading_medium">Create Accounts</div>
        </template>
        <template if:false={showcreateform}>
            <div class="slds-text-heading_medium">Update Accounts</div>
        </template>
      </div> -->
      <footer class="slds-card__footer">

        <template if:true={showcreateform}>
            <div class="slds-text-heading_medium">Create Accounts</div>
            <lightning-record-edit-form
              object-api-name="Account"
              density="compact"
              onsuccess={handleSuccess}
            >
              <lightning-messages></lightning-messages>
              <div class="slds-m-around_medium slds-grid">
                <div class="slds-col">
                  <lightning-input-field field-name="Name"></lightning-input-field>
                  <lightning-input-field field-name="Phone"></lightning-input-field>
                </div>
                <div class="slds-col">
                  <lightning-input-field
                    field-name="NumberOfEmployees"
                  ></lightning-input-field>
                  <lightning-input-field field-name="Type"></lightning-input-field>
                </div>
      
                <div class="slds-col">
                  <lightning-input-field
                    field-name="AnnualRevenue"
                  ></lightning-input-field>
                </div>
              </div>
              <div class="slds-m-top_medium">
                <lightning-button
                  class="slds-m-top_small"
                  label="Cancel"
                  field-name="cancle"
                  onclick={handleReset}
                ></lightning-button>
                <lightning-button
                  variant="brand"
                  type="submit"
                  name="save"
                  label="Create Account"
                >
                </lightning-button>
              </div>
            </lightning-record-edit-form>
          </template>
      
          <template if:false={showcreateform}>
            <div class="slds-text-heading_medium">Update Accounts</div>
            <lightning-record-edit-form
              object-api-name="Account"
              density="compact"
              onsuccess={changelayout}
              record-id={message}
            >
              <lightning-messages> </lightning-messages>
              <lightning-output-field field-name="AccountId">
              </lightning-output-field>
              <div class="slds-m-around_medium slds-grid">
                <div class="slds-col">
                  <lightning-input-field field-name="Name"></lightning-input-field>
                  <lightning-input-field field-name="Phone"></lightning-input-field>
                </div>
                <div class="slds-col">
                  <lightning-input-field
                    field-name="NumberOfEmployees"
                  ></lightning-input-field>
                  <lightning-input-field field-name="Type"></lightning-input-field>
                </div>
      
                <div class="slds-col">
                  <lightning-input-field
                    field-name="AnnualRevenue"
                  ></lightning-input-field>
                </div>
              </div>
              <lightning-button
                class="slds-m-top_small"
                label="Back"
                field-name="Back"
                onclick={handleback}
              ></lightning-button>
              <lightning-button
                class="slds-m-top_small"
                variant="brand"
                type="submit"
                name="update"
                label="Update"
              >
              </lightning-button>
            </lightning-record-edit-form>
          </template>
      </footer>
    </article>

  
    <!-- ssa -->
  <!-- </div> -->
</template>
