<!--
  @description       : 
  @author            : ChangeMeIn@UserSettingsUnder.SFDoc
  @group             : 
  @last modified on  : 11-25-2020
  @last modified by  : ChangeMeIn@UserSettingsUnder.SFDoc
  Modifications Log 
  Ver   Date         Author                               Modification
  1.0   11-24-2020   ChangeMeIn@UserSettingsUnder.SFDoc   Initial Version
-->
<template>
  <!-- <lightning-datatable
      data={recordsToDisplay}
      columns={cols}
      key-field="Id"
      max-row-selection="1"
      onrowselection={handelSelection}
    >
    </lightning-datatable> -->

  <article class="slds-card">
    <div class="slds-grid slds-einstein-header slds-card__header">
      <header class="slds-media slds-media_center slds-has-flexi-truncate">
        <div
          class="slds-grid slds-grid_vertical-align-center slds-size_3-of-4 slds-medium-size_2-of-3"
        >
          <div class="slds-media__figure">
            <lightning-icon icon-name="standard:account" alternative-text="Account" title="Account">Account</lightning-icon>

          </div>
          <div class="slds-media__body">
            <h2 class="slds-truncate" title="Einstein (10+)">
             
                <span class="slds-text-heading_small">Accounts</span>
              
            </h2>
          </div>
        </div>
        <div
          class="slds-einstein-header__figure slds-size_1-of-4 slds-medium-size_1-of-3"
        ></div>
      </header>
    </div>
    <div class="slds-card__body slds-card__body_inner">

        <table
        aria-multiselectable="true"
        class="slds-table slds-table_bordered slds-table_fixed-layout slds-table_resizable-cols"
        role="grid"
      >
        <!-- Table Starts Here -->
        <thead>
          <tr class="slds-line-height_reset">
            <th class="slds-text-align_right" scope="col" style="width: 3.25rem">
              <span id="column-group-header" class="slds-assistive-text"
                >Choose a row</span
              >
              <div class="slds-th__action slds-th__action_form">
                <div class="slds-checkbox">
                  <input
                    type="checkbox"
                    name="options"
                    id="checkbox-unique-id-301"
                    value="checkbox-unique-id-301"
                    tabindex="-1"
                    aria-labelledby="check-select-all-label column-group-header"
                  />
                  <label
                    class="slds-checkbox__label"
                    for="checkbox-unique-id-301"
                    id="check-select-all-label"
                  >
                    <span class="slds-checkbox_faux"></span>
                    <span class="slds-form-element__label slds-assistive-text"
                      >Select All</span
                    >
                  </label>
                </div>
              </div>
            </th>
            <th
              aria-label="Name"
              aria-sort="none"
              class="slds-is-resizable slds-is-sortable"
              scope="col"
            >
              <a
                class="slds-th__action slds-text-link_reset"
                href="javascript:void(0);"
                role="button"
                tabindex="-1"
              >
                <span class="slds-assistive-text">Sort by: </span>
                <div
                  class="slds-grid slds-grid_vertical-align-center slds-has-flexi-truncate"
                >
                  <span class="slds-truncate" title="Name">Account Name</span>
                  <span class="slds-icon_container slds-icon-utility-arrowdown">
                    <svg
                      class="slds-icon slds-icon-text-default slds-is-sortable__icon"
                      aria-hidden="true"
                    >
                      <use
                        xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#arrowdown"
                      ></use>
                    </svg>
                  </span>
                </div>
              </a>
              <div class="slds-resizable">
                <input
                  type="range"
                  aria-label="Name column width"
                  class="slds-resizable__input slds-assistive-text"
                  id="cell-resize-handle-547"
                  max="1000"
                  min="20"
                  tabindex="-1"
                />
                <span class="slds-resizable__handle">
                  <span class="slds-resizable__divider"></span>
                </span>
              </div>
            </th>
            <th
              aria-label="Phone"
              aria-sort="none"
              class="slds-is-resizable slds-is-sortable"
              scope="col"
            >
              <a
                class="slds-th__action slds-text-link_reset"
                href="javascript:void(0);"
                role="button"
                tabindex="-1"
              >
                <span class="slds-assistive-text">Sort by: </span>
                <div
                  class="slds-grid slds-grid_vertical-align-center slds-has-flexi-truncate"
                >
                  <span class="slds-truncate" title="Phone">Phone</span>
                  <span class="slds-icon_container slds-icon-utility-arrowdown">
                    <svg
                      class="slds-icon slds-icon-text-default slds-is-sortable__icon"
                      aria-hidden="true"
                    >
                      <use
                        xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#arrowdown"
                      ></use>
                    </svg>
                  </span>
                </div>
              </a>
              <div class="slds-resizable">
                <input
                  type="range"
                  aria-label="Phone column width"
                  class="slds-resizable__input slds-assistive-text"
                  id="cell-resize-handle-548"
                  max="1000"
                  min="20"
                  tabindex="-1"
                />
                <span class="slds-resizable__handle">
                  <span class="slds-resizable__divider"></span>
                </span>
              </div>
            </th>
            <th
              aria-label="Employees"
              aria-sort="none"
              class="slds-is-resizable slds-is-sortable"
              scope="col"
            >
              <a
                class="slds-th__action slds-text-link_reset"
                href="javascript:void(0);"
                role="button"
                tabindex="-1"
              >
                <span class="slds-assistive-text">Sort by: </span>
                <div
                  class="slds-grid slds-grid_vertical-align-center slds-has-flexi-truncate"
                >
                  <span class="slds-truncate" title="Employees">Employees</span>
                  <span class="slds-icon_container slds-icon-utility-arrowdown">
                    <svg
                      class="slds-icon slds-icon-text-default slds-is-sortable__icon"
                      aria-hidden="true"
                    >
                      <use
                        xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#arrowdown"
                      ></use>
                    </svg>
                  </span>
                </div>
              </a>
              <div class="slds-resizable">
                <input
                  type="range"
                  aria-label="Employees column width"
                  class="slds-resizable__input slds-assistive-text"
                  id="cell-resize-handle-549"
                  max="1000"
                  min="20"
                  tabindex="-1"
                />
                <span class="slds-resizable__handle">
                  <span class="slds-resizable__divider"></span>
                </span>
              </div>
            </th>
            <th
              aria-label="Type"
              aria-sort="none"
              class="slds-is-resizable slds-is-sortable"
              scope="col"
            >
              <a
                class="slds-th__action slds-text-link_reset"
                href="javascript:void(0);"
                role="button"
                tabindex="-1"
              >
                <span class="slds-assistive-text">Sort by: </span>
                <div
                  class="slds-grid slds-grid_vertical-align-center slds-has-flexi-truncate"
                >
                  <span class="slds-truncate" title="Type">Type</span>
                  <span class="slds-icon_container slds-icon-utility-arrowdown">
                    <svg
                      class="slds-icon slds-icon-text-default slds-is-sortable__icon"
                      aria-hidden="true"
                    >
                      <use
                        xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#arrowdown"
                      ></use>
                    </svg>
                  </span>
                </div>
              </a>
              <div class="slds-resizable">
                <input
                  type="range"
                  aria-label="Type column width"
                  class="slds-resizable__input slds-assistive-text"
                  id="cell-resize-handle-550"
                  max="1000"
                  min="20"
                  tabindex="-1"
                />
                <span class="slds-resizable__handle">
                  <span class="slds-resizable__divider"></span>
                </span>
              </div>
            </th>
            <th
              aria-label="AnnualRevenue"
              aria-sort="none"
              class="slds-is-resizable slds-is-sortable"
              scope="col"
            >
              <a
                class="slds-th__action slds-text-link_reset"
                href="javascript:void(0);"
                role="button"
                tabindex="-1"
              >
                <span class="slds-assistive-text">Sort by: </span>
                <div
                  class="slds-grid slds-grid_vertical-align-center slds-has-flexi-truncate"
                >
                  <span class="slds-truncate" title="AnnualRevenue"
                    >Annual Revenue</span
                  >
                  <span class="slds-icon_container slds-icon-utility-arrowdown">
                    <svg
                      class="slds-icon slds-icon-text-default slds-is-sortable__icon"
                      aria-hidden="true"
                    >
                      <use
                        xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#arrowdown"
                      ></use>
                    </svg>
                  </span>
                </div>
              </a>
              <div class="slds-resizable">
                <input
                  type="range"
                  aria-label="AnnualRevenue column width"
                  class="slds-resizable__input slds-assistive-text"
                  id="cell-resize-handle-551"
                  max="1000"
                  min="20"
                  tabindex="-1"
                />
                <span class="slds-resizable__handle">
                  <span class="slds-resizable__divider"></span>
                </span>
              </div>
            </th>
            <th class="" scope="col" style="width: 3.25rem">
              <div class="slds-truncate slds-assistive-text" title="Actions">
                Actions
              </div>
            </th>
          </tr>
        </thead>
    
        <tbody>
          <template for:each={recordsToDisplay} for:item="account">
            <tr key={account.Id} aria-selected="false" class="slds-hint-parent">
              <td class="slds-text-align_right" role="gridcell">
                <div class="slds-checkbox">
                  <input
                    type="checkbox"
                    name="options"
                    id={account.Id}
                    value="checkbox-01"
                    tabindex="-1"
                    aria-labelledby="check-button-label-01 column-group-header"
                  />
                  <label
                    class="slds-checkbox__label"
                    for="checkbox-01"
                    id={account.Id}
                  >
                    <span class="slds-checkbox_faux"></span>
                    <span class="slds-form-element__label slds-assistive-text"
                      >Select item 1</span
                    >
                  </label>
                </div>
              </td>
              <th scope="row" tabindex="0">
                <div
                  data-id={account.Id}
                  class="slds-truncate"
                  onclick={getLink}
                  title={account.Name}
                >
                  <a href={account.recordLink} tabindex="-1">{account.Name}</a>
                </div>
              </th>
              <td role="gridcell">
                <div class="slds-truncate" title={account.Phone}>
                  {account.Phone}
                </div>
              </td>
              <td role="gridcell">
                <div class="slds-truncate" title={account.NumberOfEmployees}>
                  {account.NumberOfEmployees}
                </div>
              </td>
              <td role="gridcell">
                <div class="slds-truncate" title={account.Type}>{account.Type}</div>
              </td>
              <td role="gridcell">
                <div class="slds-truncate" title={account.AnnualRevenue}>
                  {account.AnnualRevenue}
                </div>
              </td>
    
              <td role="gridcell">
                <lightning-button-icon
                  icon-name="utility:edit"
                  onclick={sendDetails}
                  data-id={account.Id}
                  alternative-text="Delete"
                  class="slds-m-left_xx-small"
                  title="Delete"
                ></lightning-button-icon>
              </td>
            </tr>
          </template>
        </tbody>
      </table>
    
      <div class="slds-grid slds-grid_vertical slds-box slds-theme_default">
        <div class="slds-col slds-size_5-of-12 slds-m-bottom_large">
          <div class="slds-text-heading_small">
            Select number of Rows to display. {pagestodisplay}
          </div>
    
          <lightning-combobox
            name="Number Of Records"
            value={recordsPerPage}
            placeholder={recordsPerPage}
            options={options}
            onchange={handleChange}
          ></lightning-combobox>
        </div>
        <div class="slds-col">
          <div
            class="slds-grid slds-gutters slds-box slds-theme_default slds-text-align_center slds-m-horizontal_xxx-small"
          >
            <!-- Brand variant: Identifies the primary action in a group of buttons -->
            <div class="slds-col slds-size_2-of-12">
              <template if:true={showPrev}>
                <lightning-button
                  variant="brand"
                  label="Prev."
                  title="Primary action"
                  onclick={previousPage}
                  class="slds-m-left_x-small"
                ></lightning-button>
              </template>
            </div>
            <!-- Brand variant: Identifies the primary action in a group of buttons -->
            <div class="slds-col slds-size_8-of-12 slds-text-heading_medium">
              <!-- Displaying {startingrecord} to {totalrecord} records . Page
              {pageNumber} -->
              <lightning-button-icon
                icon-name="utility:chevronleft"
                class="slds-m-left_x-small increase"
                disabled={isdisabledprev}
                onclick={decreasechunk}
              ></lightning-button-icon>
              <ul class="slds-button-group-row">
                <template for:each={pagestodisplay} for:item="pageNumber">
                  <li class="slds-button-group-item" key={pageNumber}>
                    <div
                      data-id={pageNumber}
                      class="pagination slds-button_neutral"
                      onclick={onPageClick}
                    >
                      {pageNumber}
                    </div>
                  </li>
                </template>
              </ul>
              <lightning-button-icon
                icon-name="utility:chevronright"
                class="slds-m-left_x-small increase"
                disabled={isdisablednext}
                onclick={increasechunk}
              ></lightning-button-icon>
            </div>
            <!-- Brand variant: Identifies the primary action in a group of buttons -->
            <div class="slds-col slds-size_2-of-12">
              <template if:true={showNext}>
                <lightning-button
                  variant="brand"
                  label="Next"
                  title="Primary action"
                  onclick={nextPage}
                  class="slds-m-left_x-small"
                ></lightning-button>
              </template>
            </div>
          </div>
        </div>
      </div>
    </div>

  </article>

 
  <!-- <lightning-button-icon icon-name="utility:left" variant="bare" size="medium" alternative-text="Previous Page" onclick={previousPage}></lightning-button-icon>
          <lightning-button-icon icon-name="utility:right" variant="bare" size="medium" alternative-text="Next Page" onclick={nextPage} class="slds-p-horizontal_x-small"></lightning-button-icon> -->
</template>
